*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #111111;
}

.card {
    position: relative;
    border-radius: 20px;
    width: 430px;
    height: 430px;
    color: #fff;
    background: #1c1c1c;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center ;
    padding: 30px;
}

    .card h3 {
        color: #F5BE34;
    }
    .card input[type=tel], .card input[type=password], .card input[type=text], .card input[type=email] {
        width: 72%;
        height: 14px;
        padding: 12px 8px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #F5BE34;
        color: #F5BE34;
    }
    .card button {
        border-radius: 30px;
        margin-left: 240px;
        background-color: #F5BE34;
        color: black;
        width: 80px;
        height: 30px;
    }

    .card.error input{
        border-color: #e74c3c;
    }

    .card.error e{
        width: 75%;
        position: relative;
        height: 0;
        color: #e74c3c;
        font-size: 10px;
        left: 9px;
        top: -16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        visibility: visible;
    }

    .card e{
        position: relative;
        height: 0;
        font-size: 10px;
        left: -106px;
        top: -16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        visibility: hidden;
    }

    .card b{
        width: 73%;
        font-size: 12px;
        font-weight: 100;
    }

    .card p{
        font-size: 12px;
    }

span {
    position: absolute;
    border-radius: 100vmax;
}

.top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient( 90deg, transparent 50%, #F5BE34);
}

.bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient( 90deg, #F5BE34, transparent 50%);
}

.right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient( 180deg, transparent, #F5BE34);
}

.left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient( 180deg, #F5BE34, transparent 70% );
}

.top {
    animation: animateTop 3s ease-in-out infinite;
    animation: animateBottom 3s ease-in-out infinite;
}

.bottom {
    animation: animateTop 3s ease-in-out infinite;
    animation: animateBottom 3s ease-in-out infinite;
}

.right {
    animation: animateRight 3s linear infinite;
    animation: animateLeft 3s ease-in-out infinite;
}

.left {
    animation: animateRight 3s linear infinite;
    animation: animateLeft 3s ease-in-out infinite;
}
@keyframes animateTop {
    25% {
        width: 100%;
        opacity: 1;
    }

    30%, 100% {
        opacity: 0;
    }
}

@keyframes animateBottom {
    0%, 50% {
        opacity: 0;
        width: 0;
    }

    75% {
        opacity: 1;
        width: 100%;
    }

    76%, 100% {
        opacity: 0;
    }
}

@keyframes animateRight {
    0%, 25% {
        opacity: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        height: 100%;
    }

    55%, 100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes animateLeft {
    0%, 75% {
        opacity: 0;
        bottom: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}